package ${reqDTOPackage};

import lombok.Data;
import lombok.experimental.Accessors;
import lombok.EqualsAndHashCode;
import org.totoro.common.javabean.reqDto.PageReqDTO;
#if(${hasBigDecimal})
#end
#if(${hasDate})
import com.fasterxml.jackson.annotation.JsonFormat;
#end

import java.util.Date;

/**
 * ${tableComment}请求入参类
 *
 * @author ${author} ${date}
 */
@Data
@Accessors(chain = true)
@EqualsAndHashCode(callSuper = true)
public class ${pageReqDTOName} extends PageReqDTO {

#foreach ($column in $columns)
    /**
     * $column.columnComment
     */
    #if($column.attrType == "Date")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
    #end
    private $column.attrType $column.attrName;

#end
}
